<a href="https://colab.research.google.com/github/nojihun/wanted_pre_onboarding/blob/main/%EB%85%B8%EC%A7%80%ED%9B%88_%EA%B8%B0%EC%97%85%EA%B3%BC%EC%A0%9C_1%EB%B2%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

In [ ]:
N = input('N:',)
S = []
for i in range(int(N)):
    S.append(input('S:', ))
Q = input('Q:',)
Q_l = []
for i in range(int(Q)):
    Q_l.append(input('Q_l:',))

N:9
S:aaa
S:aaaabb
S:aabbcc
S:abb
S:bcc
S:bbcc
S:aabbccdd
S:aaabb
S:cccd
Q:2
Q_l:aaaabbaabbccdd
Q_l:aaaaaaaaaaaaa

In [ ]:
S

['aaa', 'aaaabb', 'aabbcc', 'abb', 'bcc', 'bbcc', 'aabbccdd', 'aaabb', 'cccd']

In [ ]:
list = [0 for i in range(int(N))]
for i in range(int(Q)):
    for z in range(len(S)):
        if S[z] in Q_l[i]:
            list[z] = 'TRUE'
for z in range(int(N)):
    if list[z] == 0:
        list[z] = 'FALSE'

In [ ]:
list

['TRUE', 'TRUE', 'TRUE', 'TRUE', 'TRUE', 'TRUE', 'TRUE', 'TRUE', 'FALSE']

In [ ]:
count = 1
for i in range(int(Q)):
    for z in range(len(S)):
        if S[z] in Q_l[i]:
            print('문장 번호:', count, 'pos = ',Q_l[i].find(S[z]),'pattern = ',S[z] )
    count+= 1

문장 번호: 1 pos =  0 pattern =  aaa
문장 번호: 1 pos =  0 pattern =  aaaabb
문장 번호: 1 pos =  6 pattern =  aabbcc
문장 번호: 1 pos =  3 pattern =  abb
문장 번호: 1 pos =  9 pattern =  bcc
문장 번호: 1 pos =  8 pattern =  bbcc
문장 번호: 1 pos =  6 pattern =  aabbccdd
문장 번호: 1 pos =  1 pattern =  aaabb
문장 번호: 2 pos =  0 pattern =  aaa

In [ ]:
count = 1
for i in range(int(Q)):
    for z in range(len(S)):
        while True:
            index = Q_l[i].find(S[z], index +1)
            if index == -1:
                break
            print('문장 번호:', count, 'pos = ',index,'pattern = ',S[z] )
    count+= 1

문장 번호: 1 pos =  0 pattern =  aaa
문장 번호: 1 pos =  1 pattern =  aaa
문장 번호: 1 pos =  0 pattern =  aaaabb
문장 번호: 1 pos =  6 pattern =  aabbcc
문장 번호: 1 pos =  3 pattern =  abb
문장 번호: 1 pos =  7 pattern =  abb
문장 번호: 1 pos =  9 pattern =  bcc
문장 번호: 1 pos =  8 pattern =  bbcc
문장 번호: 1 pos =  6 pattern =  aabbccdd
문장 번호: 1 pos =  1 pattern =  aaabb
문장 번호: 2 pos =  0 pattern =  aaa
문장 번호: 2 pos =  1 pattern =  aaa
문장 번호: 2 pos =  2 pattern =  aaa
문장 번호: 2 pos =  3 pattern =  aaa
문장 번호: 2 pos =  4 pattern =  aaa
문장 번호: 2 pos =  5 pattern =  aaa
문장 번호: 2 pos =  6 pattern =  aaa
문장 번호: 2 pos =  7 pattern =  aaa
문장 번호: 2 pos =  8 pattern =  aaa
문장 번호: 2 pos =  9 pattern =  aaa
문장 번호: 2 pos =  10 pattern =  aaa

In [ ]:
S

['aaa', 'aaaabb', 'aabbcc', 'abb', 'bcc', 'bbcc', 'aabbccdd', 'aaabb', 'cccd']

In [ ]:
list

['TRUE', 'TRUE', 'TRUE', 'TRUE', 'TRUE', 'TRUE', 'TRUE', 'TRUE', 'FALSE']

In [ ]:
class classifier():
    def first(self, N, Q, Q_l):
        list = [0 for i in range(int(N))]
        for i in range(int(Q)):
            for z in range(len(S)):
                if S[z] in Q_l[i]:
                    list[z] = 'TRUE'
        for z in range(int(N)):
            if list[z] == 0:
                list[z] = 'FALSE'
        return list
    
    def second(self, N, Q, Q_l):
        for i in range(int(Q)):
            for z in range(len(S)):
                if S[z] in Q_l[i]:
                    print('pos = ',Q_l[i].find(S[z]),'pattern = ',S[z] )
    
    def third(self, N, Q, Q_l):
        count = 1
        for i in range(int(Q)):
            for z in range(len(S)):
                while True:
                    index = Q_l[i].find(S[z], index +1)
                    if index == -1:
                        break
                    print('문장 번호:', count, 'pos = ',index,'pattern = ',S[z] )
            count+= 1

['aaaabbaabbccdd']